.games-container {
  width: 100%;
  height: 100%;
}

.game-table {
  height: 100%;
  margin-bottom: 1em;
  max-height: calc(100vh - (78px + 1.75em));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.game-table::last-of-type {
  margin-bottom: 0px;
}

.cup {
  padding: 0px 1px;
  width: 40px;
  height: 40px;
  margin: 0.25em;
  border-radius: 50%;
  border: solid 3px #fff;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
}

.cup::after {
  content: "\1F5D9";
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-duration: 0.5s;
}

.hit {
  border-width: 15px;
  border-color: #999999;
  box-shadow: none !important;
}

.hit::after {
  opacity: 1;
}

@media only screen and (max-width: 374px) {
  .cup {
    width: 36px;
    height: 36px;
  }
}
