@font-face {
  font-family: "sf_distant_galaxyregular";
  src: url("sfdistantgalaxy-0l3d-webfont.woff2") format("woff2"),
    url("sfdistantgalaxy-0l3d-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "sf_distant_galaxyregular";
  src: url("sfdistantgalaxy-0l3d-webfont.woff2") format("woff2"),
    url("sfdistantgalaxy-0l3d-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  color: #423fc2;
}

h2 {
  color: #f0b347;
  font-weight: 900;
  font-size: 4em;
}

form {
  max-width: 400px;
  width: 80vw;
}
